/**{border:1px solid red!important;}
*:before{display:none!important;}
*:after{display:none!important;}*/
.desktop {
  display: block;
}
.mobile {
  display: none;
}
header#mobile {
  background-color: rgba(31, 68, 118, 0.988);
}
span.logo {
  border: 0px solid rgb(255, 0, 0);
  margin: 0 20%;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}
.mm-panels > .mm-panel li {
  text-indent: inherit;
}
.slides .slick-prev:before {
  content: '\e80d';
  font-family: 'fontello';
  color: #172668;
  background-color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-next:before {
  content: '\e80e';
  font-family: 'fontello';
  color: #172668;
  background-color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-next {
  right: 20px;
}
.slick-prev {
  left: 20px;
}
.slick-prev, .slick-next {
  z-index: 9;
}
/* ==========================================================================
menu
========================================================================== */
@media only screen and (max-width: 1024px) {
  .wrapper {
    padding: 0 1em;
  }
}
/* ==========================================================================
menu
========================================================================== */
@media only screen and (max-width: 768px) {
  html, body {
    font-size: calc(12px + 8 * ((100vw - 320px) / 960));
  }
  #my-header {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    z-index: 99;
    background-color: #ccc;
  }
  .col-10, .col-100, .col-15, .col-20, .col-25, .col-30, .col-35, .col-40, .col-45, .col-50, .col-55, .col-60, .col-65, .col-70, .col-75, .col-80, .col-85, .col-90, .col-95 {
    width: 100%
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .wrapper {
    padding: 0 2em;
  }
  header#mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }
  main {
    margin-top: 8em;
  }
  .column-4 {
    width: calc(100% / 2 - 10px);
  }
  .column-4:nth-of-type(2n) {
    margin-right: 00px;
  }
      .column-5 {
    width: calc(100% / 3 - 15px);
    margin-right: 20px;
  }
  .column-5:nth-of-type(3n) {
    margin-right: 00px;
  }
    .column-5:nth-of-type(5n) {
        margin-right: 20px;
}
}
/* ==========================================================================
menu
========================================================================== */
@media only screen and (max-width: 640px) {
  .has-sidebar {
    width: 100%;
  }
  aside {
    width: 100%;
    margin-bottom: 1em;
  }
  .column-3 {
    width: calc(100% / 1 - 00px);
    margin-right: 00px;
  }
  .column-3:nth-of-type(2n) {
    margin-right: 00px;
  }
}
/* ==========================================================================
menu
========================================================================== */
@media only screen and (max-width: 480px) {
  .column-4 {
    width: calc(100% / 1 - 0px);
    margin-right: 00px;
  }
          .column-5 {
    width: calc(100% / 1 - 0px);
    margin-right: 20px;
  }
  .column-5:nth-of-type(3n) {
    margin-right: 00px;
  }
    .column-5:nth-of-type(5n) {
        margin-right: 0px;
}
}
/* ==========================================================================
menu
========================================================================== */
@media only screen and (max-width: 375px) {}
/* ==========================================================================
menu
========================================================================== */
@media only screen and (max-width: 320px) {}
