/* ==========================================================================
Customizable Elements
========================================================================== */ 
:root {
  --main-bg-color: #fff;
  --header-bg-color: rgba(236, 236, 236, 0.94);
  --header-font: sans-serif;
  --header-color: #202020;
  --body-font: serif;
  --wrapper-max-width: 1000px;
  --main-txt-color: rgba(18, 12, 9, 1.00);
  --footer-bg-color: rgba(236, 236, 236, 0.99);
}
body {
  color: #000;
  background-color: var(--main-bg-color);
  font-family: var(--body-font);
  text-align: center;
  margin: 0;
  padding: 0;
  color: var(--main-txt-color);
}
.wrapper {
  width: 100%;
  max-width: var(--wrapper-max-width);
  margin: 0 auto;
}
.no-sidebar {
  width: 100%;
}
.has-sidebar {
  width: calc(100% - 300px - 30px);
}
.with-sidebar {
  justify-content: space-between;
}
main {
  margin-top: 8em;
}
.header {
  font-weight: 700;
}
.read-more {
  align-self: flex-end;
  font-size: 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
}
.cat-name {
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 5px 0;
}
.featured-image {
  height: 0;
  width: 100%;
  padding-bottom: 50%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  border: 0px solid red;
}
.featured-image a {
  width: 100%;
  display: inline-block;
  border: 0px solid blue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.featured-image img {
  transform-origin: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}
article {
  margin-bottom: 1em;
}
article .entry {
  flex: 1 0 0;
  padding: 1em;
}
/* ==========================================================================
header
========================================================================== */
.logo-main {
  width: 100%;
}
.logo-header {
  max-width: 200px;
  border: 0px solid rgba(162, 162, 162, 0.3);
  display: inline-block;
}
#header {
  position: fixed;
  background-color: var(--header-bg-color);
  top: 0;
  left: 0;
  width: 100%;
}
header {
  display: flex;
  width: 99%;
  width: calc(100% - 0rem);
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0;
  border: 0px solid red;
}
#site-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}
#site-description {
  display: inline-block;
  margin: -10px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 7px;
  font-weight: 700;
}
#mobile .icon-menu {
  font-size: 2em;
  color: #fff;
}
/* ==========================================================================
index
========================================================================== */
#page {}
/* ==========================================================================
aside
========================================================================== */
aside {
  background-color: #eee;
  width: 10.55%;
  width: 300px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 100%;
  margin-left: 10px;
}
/* ==========================================================================
homepage
========================================================================== */
#homepage {}
/* ==========================================================================
page
========================================================================== */
#page {}
/* ==========================================================================
category
========================================================================== */
#category {}
#category article {
  margin-bottom: 1em;
}
/* ==========================================================================
single
========================================================================== */
#single {}
/* ==========================================================================
effect
========================================================================== */
.wp-pagenavi {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  color: #b3b8be;
  font-size: 0.85rem;
}
.wp-pagenavi a {
  color: #a95ae9;
  padding: 10px;
}
.wp-pagenavi span {
  padding: 10px;
}
.breadcrumbs {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  color: #b3b8be;
  font-size: 0.85rem;
}
.breadcrumbs span {
  padding: 2px;
}
.breadcrumbs a {
  color: #a95ae9;
  color: #f07959;
  padding: 0px;
}
.headroom {
  box-shadow: 0 1px 0 rgba(0, 1px, 15px, 0.207);
  /*  padding: 2rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;*/
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
  z-index: 1;
}
.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  border: 0px solid red;
}
.headroom--pinned {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
.headroom--not-top {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}

.sticky {
  background-color: red;
}
/*.mm-panel.mm-hasnavbar .mm-navbar {
  display: none;
}
.mm-panels > .mm-panel.mm-hasnavbar {
  padding-top: 7em;
}*/
#back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: transform .2s ease;
  transform: translateY(100px);
  padding: 1em;
  background-color: rgba(00, 00, 00, 0.9958);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  border: 0px solid red;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
#back-to-top.scrolled {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
.lazy {
  opacity: 0;
  transform: scale(0.8);
  transition: all 500ms;
}
.lazy.loaded {
  transition: opacity 500ms ease-in-out;
  opacity: 1;
  transform: scale(1);
  transition: all 500ms;
  /* border: 10px solid red;*/
}
/* ==========================================================================
menu
========================================================================== */
ul.menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  border: 0px solid red;
  position: relative;
  width: auto;
  z-index: 9;
  float: right;
  text-align: right;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.0);
  width: 100%;
  list-style: none;
}
ul.menu > li {}
ul.menu > li > a {
  color: #000;
  font-size: 15px;
  padding: 10px;
  font-weight: 500;
  letter-spacing: -0.25px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  /*   letter-spacing: -0.025em;*/
}
ul.menu > li > a .fa {
  margin-top: -10px;
  color: #5BBDE8;
}
ul.menu > li > a:hover {
  color: #939694;
}
ul.menu li.current-menu-item a {
  color: rgba(248, 100, 255, 0.97);
}
/*ul.menu > li:first-child a {
    color: #289835;
    margin: 0;
    font-weight: 500;
}*/
ul.menu > li > ul.sub-menu {
  position: absolute;
  left: -2em;
  margin: 0;
  background: #fff;
  border-radius: 2px;
  width: 200px;
  top: 2em;
  left: 0;
  z-index: 7;
  height: 50px;
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.82);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0rgba(0, 0, 0, 0.19);
}
ul.menu > li > ul.sub-menu > li {
  clear: both;
  list-style: none;
  display: block;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
  width: 100%;
}
ul.menu > li > ul.sub-menu > li > a {
  color: #4f4f4f;
  font-size: 0.85em;
  padding: 5px;
}
ul.menu > li > ul.sub-menu > li > a i {
  margin: 0 5px 0 0;
}
ul.menu > li:hover ul.sub-menu {
  display: flex;
  flex-flow: column wrap;
  animation: fadeInRight .3s ease;
  -webkit-animation: fadeInRight .3s ease;
  opacity: 1;
  visibility: visible;
  width: 300px;
  /*  left:0;
  top:2em;*/
  height: auto;
  animation: fadeInLi .52s 1 alternate ease-out forwards .1s;
}
ul.menu > li > ul.sub-menu > li ul.sub-menu {
  position: absolute;
  left: -2em;
  margin: 0;
  background: #fff;
  border-radius: 2px;
  width: 200px;
  top: 2em;
  left: 100%;
  z-index: 9;
  height: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.82);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0rgba(0, 0, 0, 0.19);
}
ul.menu > li > ul.sub-menu li:hover ul.sub-menu {
  display: block;
  animation: fadeInRight .3s ease;
  -webkit-animation: fadeInRight .3s ease;
  opacity: 1;
  visibility: visible;
  width: 300px;
  /*  left:0;
  top:2em;*/
  height: auto;
  animation: fadeInLi .52s 1 alternate ease-out forwards .1s;
}
ul.menu > li > ul.sub-menu > li ul.sub-menu li {
  clear: both;
  list-style: none;
  display: block;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
  width: 100%;
}
ul.menu > li > ul.sub-menu > li ul.sub-menu li a {
  color: #4f4f4f;
  font-size: 0.85em;
  padding: 5px;
}
/* ==========================================================================
footer
========================================================================== */
footer {}
footer {
  background-color: var(--footer-bg-color);
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 3em;
}
